$snowflake1_color: #fafafa;
$snowflake2_color: #f9f9f9;
$snowflake3_color: #fbfbfb;
$snowflakes_num: 150;
$snowflakes_size: 1rem;
$snowflakes_step: 0.3rem;
$snowflake_animation_duration: 14s;
$snowflake_animation_duration_step: 2s;